$background-color: #000;
$background-extra-color: #0f0f0f;
$purple: rgb(99, 10, 183);
$main-font-color: #fff;
$light-grey-font: #e2e2e2;
$transparent-purple: rgba(101, 5, 190, 0.242);
$option-btn-hover-color: #bfbfbf;
$section-grey: rgb(20, 20, 20);