@mixin centerElement{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin betweenElement{
    display: flex;
    align-items: center;
    justify-content: space-between;
}